<p id="notice"><%= notice %></p>

<p>
  <b>Titulo:</b>
  <%= @tarea.titulo %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @tarea.descripcion %>
</p>

<p>
  <b>Fecha:</b>
  <%= l(@tarea.fecha, format: :ale) %>
</p>

<p>
  <b>Completo:</b>
  <%= @tarea.completo ? 'si' : 'no' %>
</p>


<%= link_to 'Editar', edit_tarea_path(@tarea) %> |
<%= link_to 'Volver a lista', tareas_path %>
